@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;600;700&family=Sono:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .incorrect {
    @apply bg-neutral-700 text-neutral-400 border-neutral-900/90;
  }
  .misplaced {
    @apply bg-amber-600/90 text-neutral-200;
  }
  .correct {
    @apply bg-green-600/90 text-neutral-50;
  }

  .primary {
    @apply flex justify-center sm:w-auto px-5 py-2 text-sm tracking-wide items-center text-neutral-100 transition-colors duration-200 bg-purple-700 rounded-lg shrink-0 hover:bg-purple-800;
  }

  .secondary {
    @apply flex items-center justify-center px-5 py-2 text-sm transition-colors duration-200 rounded-lg gap-x-2 sm:w-auto hover:bg-neutral-900/80 bg-neutral-900 text-neutral-200;
  }

  .grid.grid-r-6 {
    grid-template-rows: repeat(6, 1fr);
  }

  .grid.grid-c-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid.grid-c-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid.grid-c-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .grid.grid-c-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .grid.grid-c-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.grid-c-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .grid.grid-c-10 {
    grid-template-columns: repeat(10, 1fr);
  }
}

/* .simple-keyboard.hg-layout-default .hg-button.hg-highlight {
  @apply text-red-400;
} */

.hg-activeButton, .hg-button.hg-selectedButton {
  @apply bg-neutral-400;
}


@layer base {
  html {
    font-family: 'Signika Negative', system-ui, sans-serif;
    @apply bg-neutral-700 text-neutral-100;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' viewBox='0 0 192 192'%3E%3Cpath fill='%239181ac' fill-opacity='0.4' d='M192 15v2a11 11 0 0 0-11 11c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H145v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11 13 13 0 1 1 .02 26 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43a6.1 6.1 0 0 0-3.03 4.87V143h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 181 164a11 11 0 0 0 11 11v2a13 13 0 0 1-13-13 12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84a6.1 6.1 0 0 0-4.87-3.03H145v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 124 181a11 11 0 0 0-11 11h-2a13 13 0 0 1 13-13c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43a6.1 6.1 0 0 0 3.03-4.87V145h-35.02a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 107 124a11 11 0 0 0-22 0c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H49v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11A13 13 0 0 1 81 192h-2a11 11 0 0 0-11-11c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V145H11.98a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 0 1 0 177v-2a11 11 0 0 0 11-11c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H47v-35.02a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 28 109a13 13 0 1 1 0-26c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43A6.1 6.1 0 0 0 47 84.02V49H11.98a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 11 28 11 11 0 0 0 0 17v-2a13 13 0 0 1 13 13c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84A6.1 6.1 0 0 0 11.98 47H47V11.98a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 68 11 11 11 0 0 0 79 0h2a13 13 0 0 1-13 13 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43A6.1 6.1 0 0 0 49 11.98V47h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 85 68a11 11 0 0 0 22 0c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H143V11.98a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 124 13a13 13 0 0 1-13-13h2a11 11 0 0 0 11 11c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V47h35.02a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 179 28a13 13 0 0 1 13-13zM84.02 143a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 83 124a13 13 0 1 1 26 0c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84a6.1 6.1 0 0 0 4.87 3.03H143v-35.02a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 164 107a11 11 0 0 0 0-22c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V49h-35.02a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 1 1 83 68a12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84A6.1 6.1 0 0 0 84.02 49H49v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 28 85a11 11 0 0 0 0 22c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V143h35.02z'%3E%3C/path%3E%3C/svg%3E");
  }
}

.hg-theme-default>* {
  @apply text-purple-200 text-xl font-semibold uppercase font-mono rounded-sm p-1 box-border overflow-hidden touch-manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.hg-theme-default .hg-row {
   display: flex 
}


.hg-theme-default .hg-button span {
  pointer-events: none
}

.hg-theme-default button.hg-button {
  border-width: 0;
  font-size: inherit;
  outline: 0
}

.hg-theme-default .hg-button {
  flex-grow: 1
}


.hg-theme-default .hg-row {
  display: flex
}

.hg-theme-default .hg-row:not(:last-child) {
  margin-bottom: 5px
}

.hg-theme-default .hg-row .hg-button-container,
.hg-theme-default .hg-row .hg-button:not(:last-child) {
  margin-right: 5px
}

.hg-theme-default .hg-row>div:last-child {
  margin-right: 0
}

.hg-theme-default .hg-row .hg-button-container {
  display: flex
}

.hg-button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  @apply border-2 border-neutral-700/80 rounded-md border-b-neutral-900;
  box-shadow: inset 2px 2px 1px rgba(255, 255, 255, 0.2);
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 40px;
  justify-content: center;
  padding: 5px;
}

.hg-button:not(.correct, .misplaced, .incorrect, .hg-activeButton) {
  @apply bg-neutral-600; 
}
 
.hg-theme-default .hg-button.hg-standardBtn {
  width: 20px
} 

 .hg-theme-default.hg-layout-numeric .hg-button {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: center;
  width: 33.3%
}  

.hg-theme-default .hg-button.hg-functionBtn[data-skbtn="{enter}"] {
  flex-grow: 2;
  background-image: url("assets/key-enter.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 30px;
  min-width: 60px;
  flex-shrink: 1;
  flex-grow: 2;
  color: hotpink;
}

.hg-theme-default .hg-button.hg-functionBtn[data-skbtn="{backspace}"] {
  background-image: url("assets/key-delete.svg");
  background-size: 40px;
  background-position: center center;
  background-repeat: no-repeat;
  min-width: 60px;
  flex-shrink: 1;
  flex-grow: 2;
}

.hg-theme-default .hg-button.hg-functionBtn[data-skbtn="{backspace}"]>span {
  color: hotpink;
}

