<main>
  <div class="min-h-full max-w-full p-4 m-4 bg-neutral-800">
    <h1 class="p-2 sm:p-3 bg-neutral-600 font-mono font-semibold uppercase">This is the highscore page</h1>
    <p class="p-4">Hello</p>
    </div>
    </main>